* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/baloes2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    font-size: 1.6em;
    font-variant: small-caps;
    text-align: center;
    margin: 1% 0% 1% 0%;
    padding: 1% 1% 1% 1%;
}

header {
  height: 200px;
}

h1 {
    color: white;
}

#msgHercules {
  color: yellow;
  text-shadow: 5px 5px 5px black;
}

/* svg */
.text {
    fill: none;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
  }
  
  .text:nth-child(5n + 1) {
    stroke: orange;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
  }
  .text:nth-child(5n + 2) {
    stroke: yellow;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
  }
  
  .text:nth-child(5n + 3) {
    stroke: white;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
  }
  
  .text:nth-child(5n + 4) {
    stroke: green;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
  }
  
  .text:nth-child(5n + 5) {
    stroke:black;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
  }
  
  @-webkit-keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }
  
  svg {
    /* position: absolute; */
    font-variant: small-caps;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    /* letter-spacing: .05em; */
  }

  #btngame {
    cursor: pointer;
    font-size: 1.2em;
    font-variant: small-caps;
    position: relative;
    background-color: grey;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  #btngame:hover {
    background-image: url(img/balaoAzul.png);
    background-size: contain;
    background-repeat: repeat-x;

  }
  /* página do jogo */
/* arruma itens do placar */
body#bodyGame {
  background-image: repeating-linear-gradient(black, white);
}

article {
  display:flex;
  justify-content: space-around;
  margin-bottom: 10px;
  color: white;
  font-size: 1em;
  max-height: max-content;
  width: 100%;
  border: 1px solid;
}

#bmb {
  background-color: red;
  padding: 8px;
  border-radius: 5px;
}

#pts {
  background-color: darkblue;
  padding: 8px;
  border-radius: 5px;
}
/* onde aparecerá os pontos */
#pontos, #bombas{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-size: 1.8em;
}

#regras {
  font-size: .7em;
  position: relative;
  bottom: 6%;
  color: yellow;
}

/* regras aparecem ao passar o mouse */
.tooltip {
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  height: max-content;
  background-color: yellow;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: .9em;
  bottom: 19px;
  transform: rotate(10deg);
  left: 60%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

button#joga {
  font-variant: small-caps;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

button#joga:hover {
  transition: .8s;
  color: #59b5c4;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  background-color: grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  font-variant: small-caps;
  color: yellow;
}

/* campo minado */
section#jogo {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: minmax(80px, auto);
  border: 2px dotted green;
}

/* arruma o tamanho das imagens de background de grama e bomba chamadas no javascript. Também arruma a imagem direitinho no balaozinho azul */
div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* selo desenvolvido por Lu */
#fixed {
    position: fixed;
    transform: rotateZ(20deg);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    right: 1%;
    top: 15%;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: .5em;
    border: #f3c110 5px dotted;
}

/* balaozinho azul*/
#party {
  padding: 20px;
  position: fixed;
  font-size: .7em;
  top: 12%;
  left: 0%;
  height: 120px;
  width: 100px;
  border-radius: 10px;
  background-image: url(img/balaoAzul.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#party:hover {
  cursor: pointer;
  transition: 1s;
  color: yellow;
}

